<form [formGroup]="form">
    <label>
      Age:
      <input type="number" formControlName="age">
    </label>
    <div *ngIf="form.get('age')?.invalid && form.get('age')?.dirty">
      <div *ngIf="form.get('age')?.errors?.['required']" class="alert alert-danger">
        Age is required.
      </div>
      <div *ngIf="form.get('age')?.errors?.['invalidAge']" class="alert alert-danger">
        Age must be at least 18.
      </div>
      </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
  </form>