<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <label  class="form-label">Name: <input type="text" formControlName="name"></label>

    <div formGroupName="address">
      <legend>Address</legend>
      <label  class="form-label">Street: <input type="text" formControlName="street" class="form-control"></label>
      <label  class="form-label">City: <input type="text" formControlName="city" class="form-control"></label>
      <label  class="form-label">State: <input type="text" formControlName="state" class="form-control"></label>
      <label  class="form-label">Zipcode: <input type="text" formControlName="zipcode" class="form-control"></label>
    </div>

    <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary">Submit</button>
  </form>